* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recipe-button {
    color:blue;
    text-align: center;
    font-size: 25px;
}

.rounded-corners {
    border-radius: 50px;
}

h1 {
    font-weight: 700;
    color:hotpink;
    font-size: 36px;
}